.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center;
  margin-top: 20px;
}

.success-message {
  margin: 20px 0;
  font-size: 16px;
}